
body {
    background-color: #343a40;
    color: #ffffff;
}

.table {
    background-color: #495057;
    color: #ffffff;
}

.table th {
    background-color: #6c757d; /* Couleur de fond des en-têtes */
    color: #ffffff; /* Couleur du texte des en-têtes */
}

#fetchJokeBtn {
    background-color: #007bff;
}

.btn-success {
    background-color: #28a745 
}

.btn-danger {
    background-color: #dc3545 
}


.btn:hover {
    opacity: 0.8;
}


.form-container {
    border: 2px solid #ffffff; 
    border-radius: 10px;
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.1);
}

